:root {
    --primary: #3596B5;
    --secondary: #296073;
    --background: #f0f0ef;
    --general-font: monospace;
    --general-font-weight: 100;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0ef;
}

button{
    border: none;
    margin-right: 10px;
    width: 130px;
    border-radius: 10px;
    height: 40px;
    background-color: var(--secondary);
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}