.box{
    border: solid rgb(0, 0, 0) 2px;
    margin: 30px;
    padding: 30px;
    background-color: var(--primary);
    border-radius: 20px;
    width: 50%;
}

.principal{
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nombre{
    font-size: 40px;
    display: flex;
}

#descripcion{
    font-size: 20px;
}