@charset "ISO-8859-1";

:root {
    --primary: #3596B5;
    --secondary: #296073;
    --background: #3596B5;
}

.login-option a{
    color: white;
    font-family: monospace;
    font-weight: 100;
}

.basic-header {
    margin-top:0;
    text-align:center;
    width: 100%;
    height:20%;
    top:50%;
    transform: translate(50%, 20%);
}


body {
    margin: 0;
    padding: 0;
}

.mainContainer{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 90%;
    width: 90%;
}

#card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    height: 90%;
    width: 70%;
    margin-bottom: 3%;
    margin-top: 3%; 
    margin-right: 3%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(158, 186, 242, 0.6);
    background-color: #efefef;
    border: 2px solid #000000;
}

#tituloContainer{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1{
    margin-top: 3%;
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
}

#titulo{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
}

#fechaContainer{
    margin-left: 15%;
    height: 15%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fechaLabel{
    height: 25%;
    width: 10%;
    margin-right: 8%;
    color : rgb(0, 0, 0);
    font-size: 1.1rem;
}

#fecha{
    height: 35%;
    width: 20%;
    border-radius: 6px;
    resize: none;
}

#cvContainer{
    height: 30%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

#cvReducidoLabel{
    height: 50%;
    width: 10%;
    margin-right: 8%;
    color : rgb(0, 0, 0);
    font-size: 1.1rem;
}

#cvReducido{
    margin-top: 3%;
    height: 90%;
    width: 70%;
    border-radius: 6px;
    resize: none;
}

#motivacionContainer{
    height: 30%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#motivacionLabel{
    height: 50%;
    width: 10%;
    margin-right: 8%;
    color : rgb(0, 0, 0);
    font-size: 1.1rem;
}

#motivacion{
    height: 90%;
    width: 70%;
    margin-top: 3%;
    border-radius: 6px;
    resize: none;
}

#botonContainer{
    height: 15%;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#boton{
    height: 50%;
    width: 20%;
    margin-top: 2%;
    border-radius: 6px;
    background-color: rgb(204, 199, 199);
    color: rgb(0, 0, 0);
}

@media (max-width: 1056px) {
    .mainContainer{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        height: 90%;
        width: 90%;
    }

    #card1{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        height: 90%;
        width: 70%;
        margin-bottom: 3%;
        margin-top: 3%; 
        margin-right: 3%;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(104,114,134,.6);
    }

    #fechaLabel{
        margin-right: 10%;
        font-size: 0.9rem;
    }

    #motivacionLabel{
        margin-right: 10%;
        font-size: 0.9rem;
    }

    #cvReducidoLabel{
        margin-right: 10%;
        font-size: 0.9rem;
    }

}

@media (max-width: 992px) {
    .mainContainer{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        height: 90%;
        width: 90%;
    }

    #card1{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        height: 90%;
        width: 70%;
        margin-bottom: 3%;
        margin-top: 3%; 
        margin-right: 3%;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(104,114,134,.6);
    }


    #fechaLabel{
        margin-right: 3%;
    }
    
    #cvReducidoLabel{
        margin-right: 7%;
    }

    #motivacionLabel{
        margin-right: 5%;
    }

@media (min-width: 600px){

    #fechaLabel{
        margin-right: 15%;
    }
    
    #cvReducidoLabel{
        margin-right: 15%;
    }

    #motivacionLabel{
        margin-right: 15%;
    }
}

}





