/* header styles */
.header{
    width: 100%;
    height: 12%;
    background-color: var(--secondary);
    display: flex;
}

.header .menu{
    padding: 30px;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.menu button{
    background-color: var(--primary);
    width: 70px;
    height: 35px;
}

.header .navbar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar input{
    width: 360px;
    height: 40px;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    margin-right: 30px;
    padding-left: 10px;
}

.navbar a .btn{
    width: 100px;
    height: 34px;
    padding-left: 0;
}

.header .login-option{
    width: 20%;
    height: 100%;
}

.login-option{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 10px;
}

.login-option a{
    color: white;
    font-family: var(--general-font);
    font-weight: 100;
}

.login-option span{
    color: white;
    margin: 0px 8px;
}


/* main container styles */
.main-container{
    height: 88%;
    display: flex;
    flex-direction: row;
}

.main-container .main{
    width: 100%;
}
.logo-container{
    height: 60%;
    width: 100%;
}

.logo-container .logo{
    height: 100%;
    text-align: center;
    padding-top: 60px;
}

.logo img{
    height: 70%;
}

.empresas-container{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.empresas-container .empresas{
    width: 60%;
    max-width: 700px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 10px;
}

.empresa{
    width: 150px;
}

.empresa-logo{
    height: 100%;
    width: 100%;
}

.empresa-logo img{
    width: 100%;
    border-radius: 10px;
}

.empresas-scroll{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
}

.scroll-button input{
    height: 60px;
    width: 30px;
    font-size: 20px;
    border: none;
    background-color: lightgrey;
    border-radius: 10px;
}

.scroll-button input:hover{
    background-color: grey;
}

.empresas-title{
    font-family: var(--general-font);
    font-weight: var(--general-font-weight);
    color: var(--secondary);
    font-size: 20px;
}

.menu-sidebar{
    height: 100%;
    width: 8%;
    min-width: 90px;
    z-index: 10;
    display: none;
    background-color: var(--secondary);
}

.menu-sidebar .menu-item{
    width: 100%;
    height: 40px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-item a{
    font-family: var(--general-font);
    font-weight: 100;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.menu-item:hover{
    background-color: var(--primary);
    color: black;
}