<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.trabajouy.controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>trabajouy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.trabajouy.controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ofertas</display-name>
    <servlet-name>Ofertas</servlet-name>
    <servlet-class>com.trabajouy.controllers.Ofertas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ofertas</servlet-name>
    <url-pattern>/Ofertas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registro</display-name>
    <servlet-name>Registro</servlet-name>
    <servlet-class>com.trabajouy.controllers.Registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro</servlet-name>
    <url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Datos</display-name>
    <servlet-name>Datos</servlet-name>
    <servlet-class>com.trabajouy.controllers.Datos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Datos</servlet-name>
    <url-pattern>/Datos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.trabajouy.controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearOferta</display-name>
    <servlet-name>CrearOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.CrearOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearOferta</servlet-name>
    <url-pattern>/CrearOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaUsuarios</display-name>
    <servlet-name>ListaUsuarios</servlet-name>
    <servlet-class>com.trabajouy.controllers.ListaUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaUsuarios</servlet-name>
    <url-pattern>/ListaUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarOferta</display-name>
    <servlet-name>ConsultarOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.ConsultarOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarOferta</servlet-name>
    <url-pattern>/ConsultarOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTipos</display-name>
    <servlet-name>ListarTipos</servlet-name>
    <servlet-class>com.trabajouy.controllers.ListarTipos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTipos</servlet-name>
    <url-pattern>/ListarTipos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usuarios</display-name>
    <servlet-name>Usuarios</servlet-name>
    <servlet-class>com.trabajouy.controllers.Usuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuarios</servlet-name>
    <url-pattern>/Usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConsultarTipo</display-name>
    <servlet-name>ConsultarTipo</servlet-name>
    <servlet-class>com.trabajouy.controllers.ConsultarTipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarTipo</servlet-name>
    <url-pattern>/ConsultarTipo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginMovil</display-name>
    <servlet-name>LoginMovil</servlet-name>
    <servlet-class>com.trabajouy.controllers.LoginMovil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMovil</servlet-name>
    <url-pattern>/LoginMovil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeMovil</display-name>
    <servlet-name>HomeMovil</servlet-name>
    <servlet-class>com.trabajouy.controllers.HomeMovil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMovil</servlet-name>
    <url-pattern>/HomeMovil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaOfertaMovil</display-name>
    <servlet-name>ConsultaOfertaMovil</servlet-name>
    <servlet-class>com.trabajouy.controllers.ConsultaOfertaMovil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaOfertaMovil</servlet-name>
    <url-pattern>/ConsultaOfertaMovil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaPostulacionMovil</display-name>
    <servlet-name>ConsultaPostulacionMovil</servlet-name>
    <servlet-class>com.trabajouy.controllers.ConsultaPostulacionMovil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaPostulacionMovil</servlet-name>
    <url-pattern>/ConsultaPostulacionMovil</url-pattern>
  </servlet-mapping>
</web-app>