<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consulta de Oferta Basica</title>
    <link rel="stylesheet" href="../styles/basic.css">
    <link rel="stylesheet" href="../styles/consultarOfertaBasica.css">
    <link rel="stylesheet" href="../styles/headerDefault.css">
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="home">
            <a href="home.html"><img src="../assets/trabajoUy.png" alt=""></a>
        </div>
        <div class="navbar">
            <input type="text" placeholder="Empresas, ofertas, keywords...">
            <a href=""><input class="btn" type="button" value="Buscar"></a>
        </div>
        <div class="login-option">
            <a href="login.html">Iniciar sesion</a> <span> | </span> <a href="crearUsuario.html"> Registrar usuario</a>
        </div>
    </header>

    <!--MAIN CONTAINER-->
    <section class="main">
        <div class="contenido">
            <div class="titulo">
                <div>
                    <img src="https://tinyurl.com/45nsf34m">
                </div>
                <div class="title">
                    <h1>Desarrollador Frontend</h1>
                </div>
            </div>

            <div class="descripcion">
                <p><strong>Descripción:</strong> Unete a nuestro equipo de desarrollo frontend y crea 
                experiencias de usuario excepcionales.</p>
                <p><strong>Remuneración: </strong> $90000</p>
                <p><strong>Horarios: </strong>09:00 - 18:00</p>
                <p><strong>Fecha de alta: </strong> 14/08/23</p>
                <p><strong>Keywords: </strong>Tiempo completo, Medio tiempo, Remoto, Freelance, Temporal, Permanente.</p>
            </div>

            <a href="postularse.html"><input class="btn-postular" type="button" value="Postularse"></a>
        </div>

        <!--CAJAS DE POSTULACIONES Y PAQUETES-->
        <div class="postulacionesYpaquetes">

            <!--POSTULACIONES-->
            <div class="postulaciones">
                <!--TITULO-->
                <div>
                    <h1>POSTULACIONES</h1>
                </div>
                <div class="postulante">
                    <!--FOTO-->
                    <div class="foto-postulante"><img src="https://tinyurl.com/yckek63e"></div>
                    <!--NOMBRE-->
                    <div class="nombre-postulante"><a href="consultarPostulacion.html">Lucía García</a></div>
                </div>
                <div class="postulante">
                    <!--FOTO-->
                    <div class="foto-postulante"><img src="" style="width: 100px;"></div>
                    <!--NOMBRE-->
                    <div class="nombre-postulante"><a href="postulacion2.html">María Rodriguez</a></div>
                </div>
            </div>

            <!--PAQUETES-->
            <div class="paquetes">
                <div>
                    <h1>PAQUETES</h1>
                </div>
                <div class="paquete">
                    <!--FOTO-->
                    <div class="foto-paquete"><img src="https://shorturl.at/ceCD2"></div>
                    <!--NOMBRE-->
                    <div class="nombre-paquete"><a href="consultaPaquete.html">Básico</a></div>
                </div>
            </div>
        </div>
    </section>

</body>
</html> 