<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Paquete</title>
    <link rel="stylesheet" href="../styles/basic.css">
    <link rel="stylesheet" href="../styles/headerDefault.css">
    <link rel="stylesheet" href="../styles/consultaPaquete.css">
</head>
<body>
            <!--HEADER-->
            <header class="header">
                <div class="home">
                    <a href="home.html"><img src="../assets/trabajoUy.png" alt=""></a>
                </div>
                <div class="navbar">
                    <input type="text" placeholder="Empresas, ofertas, keywords...">
                    <a href=""><input class="btn" type="button" value="Buscar"></a>
                </div>
                <div class="login-option">
                    <a href="login.html">Iniciar sesion</a> <span> | </span> <a href="crearUsuario.html"> Registrar usuario</a>
                </div>
            </header>

            <div id="principal">
                <div class="box" id="info">
                    <img id="imagen" alt="no imagen" src="https://shorturl.at/ceCD2">
                    <h1>Básica</h1>
                    <p>Publica ofertas laborales
                        en nuestra plataforma por
                        un período de 30 días</p>
                    <p>Período de validez: 30 días</p>
                    <p>Descuento: 30%</p>
                    <p>Costo: $240</p>  
                    <button>Comprar</button> 
                </div>
                <div class="box">
                    <div>
                        <h1>Tipos de Publicacion:</h1>
                    </div>
                    <div>
                        <span class="titulo"><a href="consultaTipoDePublicacion.html">Premium</a></span><br>
                        <span>Cantidad: 1</span><br><br>
                        <span class="titulo"><a href="consultaTipoDePublicacion.html">Destacada</a></span><br>
                        <span>Cantidad: 1</span><br><br>
                        <span class="titulo"><a href="consultaTipoDePublicacion.html">Estándar</a></span><br>
                        <span>Cantidad: 1</span><br><br>
                    </div>

                </div>
            </div>

</body>
</html>