<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultar Empresa</title>
    <link rel="stylesheet" href="../styles/consultaPostulante.css">
    <link rel="stylesheet" href="../styles/headerDefault.css">
    <link rel="stylesheet" href="../styles/basic.css">
</head>
<body>
    <header class="header">
        <div class="home">
            <a href="home.html"><img src="../assets/trabajoUy.png" alt=""></a>
        </div>
        <div class="navbar">
            <input type="text" placeholder="Empresas, ofertas, keywords...">
            <a href=""><input class="btn" type="button" value="Buscar"></a>
        </div>
        <div class="login-option">
            <a href="home.html">Cerrar Sesion</a>
        </div>
    </header>


    <div class="main-container">
        <div class="datosPresentacion">
            <div class="cajaImagen">
                <img src="https://tinyurl.com/mr2hcufa">
            </div>
            <div class="datosBasicos">
                <h2>EcoTech</h2>
                <h3>EcoTech Innovations es una empresa líder en soluciones tecnológicas sostenibles. Nuestro enfoque se centra en desarrollar y comercializar productos y servicios que aborden los desafíos ambientales más apremiantes de nuestro tiempo. Desde sistemas de energía renovable y dispositivos de monitorización ambiental hasta soluciones de gestión de residuos inteligentes, nuestra misión es proporcionar herramientas que permitan a las empresas y comunidades adoptar prácticas más ecológicas sin comprometer la eficiencia. Creemos en la convergencia armónica entre la tecnología y la naturaleza, y trabajamos incansablemente para impulsar un futuro más limpio y sostenible.</h3>
            </div>
        </div>

        <div class="boxes">
            <div class="boxPerfil">
                <h2>Perfil</h2>
                <h3>
                    Nombre: <span> Sophia</span>
                </h3>
                <h3>
                    Apellido: <span> Johnson</span>
                </h3>
                <h3>
                    Email: <span>info@EcoTech.com</span>
                </h3>
                <h3>
                    link: <span> <a href="http://www.EcoTechInnovations.com">http://www.EcoTechInnovations.com</a></span>
                </h3>
            </div>
            <a href="modificarDatosEmpresa.html">Editar datos</a>
        </div>
    </div>





</body>
</html>