<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultar Postulante</title>
    <link rel="stylesheet" href="../styles/consultaPostulante.css">
    <link rel="stylesheet" href="../styles/headerDefault.css">
    <link rel="stylesheet" href="../styles/basic.css">
</head>
<body>
    <header class="header">
        <div class="home">
            <a href="home.html"><img src="../assets/trabajoUy.png" alt=""></a>
        </div>
        <div class="navbar">
            <input type="text" placeholder="Empresas, ofertas, keywords...">
            <a href=""><input class="btn" type="button" value="Buscar"></a>
        </div>
        <div class="login-option">
            <a href="home.html">Cerrar Sesion</a>
        </div>
    </header>


    <div class="main-container">


        <div class="datosPresentacion">
            <div class="cajaImagen">
                <img src="https://tinyurl.com/yckek63e">
            </div>
            <div class="datosBasicos">
                <h2>Lucía García</h2>
                <h3>Licenciada en Administración, experiencia
                    en gestión de equipos y
                    proyectos. Conocimientos
                    en Microsoft Office</h3>
            </div>
        </div>

        <div class="boxes">
            <div class="boxPerfil">
                <h2>Perfil</h2>
                <h3>
                    Nombre: <span> Lucía</span>
                </h3>

                <h3>
                    Apellido: <span> García</span>
                </h3>

                <h3>
                    Email: <span> lgarcia85@gmail.com</span>
                </h3>

                <h3>
                    Fecha de Nacimiento: <span> 15/03/1985</span>
                </h3>
                <h3>
                    Nacionalidad: <span> Uruguaya</span>
                </h3>

            </div>
            <a href="modificarDatosPostulante.html">Editar datos</a>

          <!--  <div class="boxOfertasLaborales">
                <h2>Ofertas Laborales</h2>


            </div>

            <div class="boxPaquetes">
                <h2>Paquetes</h2>



            </div>-->
        </div>
    </div>





</body>
</html>