<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Tipo</title>
    <link rel="stylesheet" href="../styles/basic.css">
    <link rel="stylesheet" href="../styles/headerDefault.css">
    <link rel="stylesheet" href="../styles/consultaTipo.css">

</head>
<body>
            <!--HEADER-->
            <header class="header">
                <div class="home">
                    <a href="home.html"><img src="../assets/trabajoUy.png" alt=""></a>
                </div>
                <div class="navbar">
                    <input type="text" placeholder="Empresas, ofertas, keywords...">
                    <a href=""><input class="btn" type="button" value="Buscar"></a>
                </div>
                <div class="login-option">
                    <a href="login.html">Iniciar sesion</a> <span> | </span> <a href="crearUsuario.html"> Registrar usuario</a>
                </div>
            </header>

            <div class="principal">
                <div class="box" id="nombre">
                    <p>Premium</p>
                </div>
                <div class="box" id="descripcion">
                    <p>Descripcion: Obtén máxima visibilidad</p>
                    <p>Exposicion: 1</p>
                    <p>Duracion: 30 días</p>
                    <p>Costo: $4000</p>
                    <p>Fecha de Alta: 10/08/2023</p>
                </div>
            </div>

</body>