<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alta de Oferta</title>
    <link rel="stylesheet" href="../styles/headerDefault.css">
    <link rel="stylesheet" href="../styles/basic.css"> 
    <link rel="stylesheet" href="../styles/crearOferta.css"> 
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="home">
            <a href="home.html"><img src="../assets/trabajoUy.png" alt=""></a>
        </div>
        <div class="navbar">
            <input type="text" placeholder="Empresas, ofertas, keywords...">
            <a href=""><input class="btn" type="button" value="Buscar"></a>
        </div>
        <div class="login-option">
            <a href="login.html">Iniciar sesion</a> <span> | </span> <a href="crearUsuario.html"> Registrar usuario</a>
        </div>
    </header>
    <main>
        <div class="form-box">
            <form action="">
                <div class="form-element">
                    <label for="">Tipo de publicacion</label>
                    <select name="" id="">
                        <option value="">Obtén máxima visibilidad </option>
                        <option value="">Destaca tu anuncio </option>
                        <option value="">Mejora la posición de tu anuncio</option>
                        <option value="">Publica de forma sencilla en la
                            lista de ofertas</option>
                    </select>
                </div>
                <div class="form-element">
                    <label for="">Nombre</label>
                    <input type="text">
                </div>
                <div class="form-element">
                    <label for="">Descripcion</label>
                    <textarea name="" id="" cols="30" rows="5"></textarea>
                </div>
                <div class="form-element">
                    <label for="">Horario</label>
                    <div>
                        <label for="">Entrada</label>
                        <input type="time">
                        <label for="">Salida</label>
                        <input type="time">
                    </div>
                </div>
                <div class="form-element">
                    <label for="">Remuneracion</label>
                    <input type="text">
                </div>
                <div class="form-element">
                    <label for="">Departamento</label>
                    <input type="text">
                </div>
                <div class="form-element">
                    <label for="">Ciudad</label>
                    <input type="text">
                </div>
                <div class="form-element">
                    <label for="">Imagen</label>
                    <input type="file">
                </div>
                <div class="form-element checkbox">
                    <div class="checkbox-element">
                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Tiempo completo</label>
                        </div>
                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Medio tiempo</label>
                        </div>                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Remoto</label>
                        </div>                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Freelance</label>
                        </div>                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Temporal</label>
                        </div>
                    </div>
                    <div class="checkbox-element">
                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Permanente</label>
                        </div>                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Computación</label>
                        </div>                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Administración</label>
                        </div>                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Logística</label>
                        </div>                        <div>
                            <input type="checkbox" name="key1" id="key1">
                            <label for="key1">Contabilidad</label>
                        </div>
                    </div>
                </div>
                <div class="form-element">
                    <div>
                        <label>Forma de pago</label>
                    </div>
                    <div>
                        <label for="">General</label>
                        <input type="radio" name="pay" checked="checked">    
                    </div>
                    <div>
                        <label for="">Con paquete</label>
                        <input type="radio" name="pay">
                    </div>
                </div>
                <div class="pago-paquete">

                </div>
                <div class="buttons">
                    <a href="listadoOfertas.html"><input type="button" value="Crear"></a>
                    <a href="listadoOfertas.html"><input type="button" value="Cancelar"></a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>