<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabajo UY</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/basic.css">
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="menu">
            <button id="menu-btn">Menu</button>
        </div>
        <div class="navbar">
            <input type="text" placeholder="Empresas, ofertas, keywords...">
            <a href="listadoOfertas.html"><input class="btn" type="button" value="Buscar"></a>
        </div>
        <div class="login-option">
            <a href="login.html">Iniciar sesion </a> <span> | </span> <a href="crearUsuario.html"> Registrar usuario</a>
        </div>
    </header>
    
    <!--MAIN CONTAINER-->
    <div class="main-container">
        <div id="menu-sidebar" class="menu-sidebar">
            <div class="menu-item"><a href="listaUsuarios.html">Usuarios</a></div>
            <div class="menu-item"><a href="listadoOfertas.html">Ofertas</a></div>
            <div class="menu-item"><a href="listaPaquetes.html">Paquetes</a></div>
            <div class="menu-item"><a href="listaTiposPublicacion.html">Tipos</a></div>
       </div>
        <div class="main">
            <div class="logo-container">
                <div class="logo">
                    <img src="../assets/trabajoUy.png" alt="">
                </div>
            </div>
            <div class="empresas-container">
                <div class="empresas-title">
                    <h3>Principales empresas</h3>
                </div>
                <div class="empresas-scroll">
                    <div class="button-left scroll-button">
                        <input type="button" value="<">
                    </div>
                    <div class="empresas">
                        <div class="empresa">
                            <div class="empresa-logo">
                                <a href="listadoOfertas.html"><img src="https://tinyurl.com/mr2hcufa" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="button-right scroll-button">
                        <input type="button" value=">">
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    const menuBtn = document.getElementById('menu-btn');
    const menuSidebar = document.getElementById('menu-sidebar');
    menuBtn.addEventListener("click", () => {
        if(menuSidebar.style.display == "block"){
            menuSidebar.style.display = "none";
        } else {
            menuSidebar.style.display = "block";
        }
    });
</script>
</body>
</html>