<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="../styles/basic.css">
    <link rel="stylesheet" href="../styles/headerDefault.css">
    <link rel="stylesheet" href="../styles/listaUsuarios.css">
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="home">
            <a href="home.html"><img src="../assets/trabajoUy.png" alt=""></a>
        </div>
        <div class="navbar">
            <input type="text" placeholder="Empresas, ofertas, keywords...">
            <a href=""><input class="btn" type="button" value="Buscar"></a>
        </div>
        <div class="login-option">
            <a href="login.html">Iniciar sesion</a> <span> | </span> <a href="crearUsuario.html"> Registrar usuario</a>
        </div>
    </header>
    <main>
        <div class="list-container">
            <div class="list-element">  
                <div class="user-image">
                    <img src="https://tinyurl.com/yckek63e" alt="">
                </div>
                <div class="user-info">
                    <a href="consultaPostulante.html">lgarcia</a>
                    <p>Lucía García</p>
                    <p>lgarcia85@gmail.com</p>
                </div>
            </div>
            <div class="list-element">  
                <div class="user-image">
                    <img src="https://tinyurl.com/mr2hcufa" alt="">
                </div>
                <div class="user-info">
                    <a href="consultaEmpresa.html">EcoTech</a>
                    <p>Sophia Johnson</p>
                    <p>info@EcoTech.com</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>